@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

/*noinspection CssInvalidAtRule*/
@theme {
  /* Font */
  --font-satoshi: "Satoshi", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --breakpoint-3xl: 120rem;

  /* Colors */
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --color-primary: #1a1a1a;
  --color-secondary: #5b5b5b;

  /* Transitions */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --animate-translate-horizontal: translate-horizontal infinite 2s cubic-bezier(0.14, 0.58, 0.86, 0.38);
  @keyframes translate-horizontal {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
  }
  /* ... */
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  @apply font-roboto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
