<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link href="/assets/style/login.css" rel="stylesheet">
</head>
<body>

    <div class="login-form-container">
        <div class="content-logo">
            <img src="/assets/vectors/icons8-e-100.svg" alt="logo_e">
            <img src="/assets/vectors/icons8-m-100.svg" alt="logo_m">
        </div>
        <div class="content">
            <h1 class="form-header">Login</h1>
            <form id="form-sign-in">
                <input type="text" name="username" placeholder="Username">
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password">
                    <button id="password-visible" type="button" class="toggle-password-visibility">
                        <img src="/assets/vectors/fa-eye-slash.svg">
                    </button>
                </div>
                <button type="submit" class="button-primary">Sign In</button>
            </form>
        </div>

    </div>

    <script type="application/javascript" src="/assets/js/login.js">
    </script>
</body>
</html>