<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form id="form-sign-in">
            <input type="text" name="uname" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Sign In</button>
        </form>

        <form id="form-sign-up">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="surname" placeholder="surname">
            <input type="text" name="uname" placeholder="username">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <script>
        document.getElementById("form-sign-in").onsubmit = function(e) {
            e.preventDefault();
            let query = window.location.search
            let queryParam = new URLSearchParams(query)
            let audiences = queryParam.get("audience")
            let scopes = queryParam.get("scopes")
            let formdata = new FormData(this);
            let jsonObject = {}
            formdata.forEach((value, key) => jsonObject[key] = value)
            fetch(`/api/auth/sign-in?audiences=${audiences}&scopes=${scopes}`,{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonObject)
            }).then(response => {
                if (!response.ok)
                    throw Error(response.statusText)
                return response.json()
            }).then(data => {
                console.log(data)
            }).catch(err => {
                console.error(`Cached error: ${err}`)
            })
        }
        document.getElementById("form-sign-up").onsubmit = function(e) {
            e.preventDefault();
            let formdata = new FormData(this);
            let jsonObject = {}
            formdata.forEach((value, key) => jsonObject[key] = value)
            fetch("/api/auth/sign-up",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonObject)
            }).then(response => {
                if (!response.ok)
                    throw Error(response.statusText)
                return response.json()
            }).then(data => {
                console.log(data)
            }).catch(err => {
                console.error(`Cached error: ${err}`)
            })
        }
    </script>
</body>
</html>