<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kayıt Ol</title>
    <link href="/assets/style/login.css" rel="stylesheet">
</head>
<body>

    <div class="login-form-container">
        <div class="content-logo">
            <img src="/assets/vectors/icons8-e-100.svg" alt="logo_e" width="120" height="120">
            <img src="/assets/vectors/icons8-m-100.svg" alt="logo_m" width="120" height="120">
        </div>
            <form id="form-sign-up">
                <label>
                    Name:
                    <input type="text" name="name">
                </label>
                <label>
                    Surname:
                    <input type="text" name="surname">
                </label>
                <label>
                    Username:
                    <input type="text" name="userName">
                </label>
                <label>
                    Email Address:
                    <input type="email" name="email">
                </label>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>
                <button type="submit">Sign Up</button>
            </form>

    </div>
</body>
</html>